# Dependencies
node_modules/
.pnpm/

# Environment files
.env
.env.*
!.env.example

# Visual Studio 2015/2017 cache/options directory
.vs/

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store

*.swp
*.swobin/
obj/
*.swo

# Test coverage output
coverage/
CoverageReport/
*.cobertura.xml

__azurite*
Azurite*

backend.log
