@azure-ai-vision-face:registry=${AZUREFACEAPIREGISTRY}

//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=${AZUREFACEAPIUSERNAME}
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=${AZUREFACEAPIPASSWORD}
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=${AZUREFACEAPIEMAIL}

always-auth=true